// Dark mode style
.dark-mode {
  background-color: #2e2e2e;
}

.dark-mode-button {
  background-color: #444;
  color: #eee;
  position: absolute;
  top: 24px;  
  right: 10px; 
  border: none;
  width: 65px;
  height: 26px;
  border-radius: 5px;
  cursor: pointer;
}

// General container for the todo list
.todoListContainer {
  width: 800px;
  margin: auto;
}

// Heading styles
.heading {
  background: #3366ff;
  padding: 10px;
}

#title {
  text-align: center;
}

// Language switcher layout
.lan {
  position: absolute;
  top: 20px;
  right:80px ;
}

// Add Item Form styles
.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfield {
  background: #f7f7f7;
  border: 0;
  outline: none;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
}

.circle-plus {
  font-size: 20px;
  background: #3366ff;
  border: none;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
// Add Item Modal Styles
.add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-modal-content input {
  background: #d8d6d6;
  border: 0px;
  outline: none;
  width: 740px;
  padding: 5px;
}

.add-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.add-item-title {
  text-align: center;  
}

.add-button {
  background-color: #0bb830;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  cursor: pointer;
}

.cancel-add-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

// Upload Excel File Modal Styles
.upload-container {
  display: flex;
  justify-content: center; 
  align-items: center;             
}

.uploadFile {
  text-align: center;
}

.upload-label{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0a0a0a;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #0a0a0a;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.file-plus {
  font-size: 20px;
  background: #3366ff;
  border: none;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

.upload-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-modal-content input {
  background: #d8d6d6;
  border: 0px;
  outline: none;
  width: 740px;
  padding: 5px;
}

.upload-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.upload-file-title {
  text-align: center;  
}

.upload-button {
  background-color: #0bb830;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  cursor: pointer;
}

.cancel-upload-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}
// List Item styles
.completed {
  text-decoration: line-through;
  color: #000000;
}

.itemText {
  width: 100%;
  margin-left: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashcan {
  background: #009999;
  border: none;
  color: #ff0000;
  outline: none;
  cursor: pointer;
}

.pen {
  background: #009999;
  border: none;
  color: #00ff00;
  outline: none;
  cursor: pointer;

}

.hourglass {
  background: #009999;
  border: none;
  color: #fbfbf9;
  outline: none;
  cursor: pointer;
}

.xmark {
  background: #009999;
  border: none;
  color: #f7dc09;
  outline: none;
  cursor: pointer;

}
.check {
  background: #009999;
  border: none;
  color: #0931f7;
  outline: none;
  cursor: pointer;

}
// Edit Modal styles
.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-modal-content input {
  background: #d8d6d6;
  border: 0px;
  outline: none;
  width: 740px;
  padding: 10px;
}

.edit-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.edit-item-title {
  text-align: center;  
}

.save-button {
  background-color: #09ef37;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

// Delete Modal styles
.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.delete-item-title {
  text-align: center;  
}

.delete-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  cursor: pointer;
}

.cancel-detele-button {
  background-color: #09ef37;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

// List View styles
.items {
  background: #009999;
  padding: 5px;
  margin-top: 5px;
}

// Locale Switcher styles
.enbutton {
  margin: 5px;
  width: 50px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('./images/uk_flag.png');
  background-size: cover; 
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.uzbutton {
  margin: 5px;
  width: 50px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('./images/uzbekistan_flag.png');
  background-size: cover; 
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.export-container {
  display: flex;
  justify-content: center;
}
.exportFile {
  margin: 20px;
}
.file-download {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.file-download:hover {
  background-color: lightgreen;
  color: #111111;
}
//Status 
.status-container {
  display: flex;
  justify-content: center;
}

.status-container button {
  padding: 5px;
  color: white;
  background-color: #4caf50; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px; 
}

.status-container button:hover {
  background-color: lightgreen;
  color: #111111;
}

.status-container button.active {
  background-color: #22478b; 
  color: white;
}

//Styles for the login-register container
.login-register {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #11d6e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

//Login-register form labels
.login-register label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

//Login-register input fields
.login-register input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

//Login-register submit button
.login-register button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-register button:hover {
  background-color: #0056b3;
}

//Login-register router-link
.login-register a {
  color: #007bff;
  text-decoration: none;
}

.login-register a:hover {
  text-decoration: underline;
}

//Login-register paragraph
.login-register p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}