// General container for the todo list
.todoListContainer {
  width: 800px;
  margin: auto;
}

// Heading styles
.heading {
  background: #3366ff;
  padding: 10px;
}

#title {
  text-align: center;
}

// Language switcher layout
#lan {
  display: flex;
  justify-content: flex-end;
}

// Add Item Form styles
.addItem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputfield {
  background: #f7f7f7;
  border: 0;
  outline: none;
  padding: 10px;
  margin-right: 10px;
  width: 100%;
}

.plus {
  font-size: 26px;
  background: #3366ff;
  border: none;
  color: #040404;
  outline: none;
}
// Add Item Modal Styles
.add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-modal-content input {
  background: #d8d6d6;
  border: 0px;
  outline: none;
  width: 740px;
  padding: 5px;
}

.add-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.add-item-title {
  text-align: center;  
}

.add-button {
  background-color: #0bb830;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
}

.cancel-add-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
}

// Upload Excel File Modal Styles
.uploadFile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.plus {
  font-size: 26px;
  background: #3366ff;
  border: none;
  color: #040404;
  outline: none;
}

.upload-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-modal-content input {
  background: #d8d6d6;
  border: 0px;
  outline: none;
  width: 740px;
  padding: 5px;
}

.upload-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.upload-file-title {
  text-align: center;  
}

.upload-button {
  background-color: #0bb830;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
}

.cancel-upload-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
}
// List Item styles
.completed {
  text-decoration: line-through;
  color: #000000;
}

.itemText {
  width: 100%;
  margin-left: 20px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashcan {
  background: #009999;
  border: none;
  color: #ff0000;
  outline: none;
}

.pen {
  background: #009999;
  border: none;
  color: #00ff00;
  outline: none;
}
// Edit Modal styles
.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-modal-content input {
  background: #d8d6d6;
  border: 0px;
  outline: none;
  width: 740px;
  padding: 10px;
}

.edit-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.edit-item-title {
  text-align: center;  
}

.save-button {
  background-color: #09ef37;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
}

.cancel-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
}

// Delete Modal styles
.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal-content {
  background: #3366ff;
  padding: 20px;
  border-radius: 5px;
  width: 760px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-buttons{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.delete-item-title {
  text-align: center;  
}

.delete-button {
  background-color: #ef3b09;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
}

.cancel-detele-button {
  background-color: #09ef37;
  border-radius: 2px;
  height: 20px;
  border: 0px;
  outline: none;
  margin-top: 15px;
  margin-left: 10px;
}

// List View styles
.items {
  background: #009999;
  padding: 5px;
  margin-top: 5px;
}

// Locale Switcher styles
.enbutton {
  margin: 5px;
  width: 50px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('./images/uk_flag.png');
  background-size: cover; 
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.uzbutton {
  margin: 5px;
  width: 50px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('./images/uzbekistan_flag.png');
  background-size: cover; 
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
